# compiled output
build
out-tsc

# dependencies
node_modules

# IDEs and editors
.idea
.vscode

# misc
.angular
yarn*.log

# System Files
.DS_Store
Thumbs.db

# Package Manager Files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
